@charset "utf-8";
/* CSS Document */
body, div, header{
  margin:0; padding:0; border:0; 
}
/* HTML5 display-role reset for older browsers */
header, nav {display: block;}
body{ text-align: center;background-color: #eee }
img{border:none;}

.clear { clear: both; *height: 0; *font-size: 0; *line-height:0; }
.clearfix { *zoom: 1; }
.clearfix:after { content: ""; display: table; clear: both; }
.container{margin:0 auto; position:relative; }
/* -----------头部----------- */
.header{height:180px; background:url(/media/headbg.png) no-repeat top center; background-size:100% 100%; position:relative; z-index:10;   }
.head-top{min-height:135px; }
.header .navbar{margin:0; border:none; min-height:10px;  }
.head-top .navbar-header .navbar-brand{padding:20px 30px 0; height:auto; }

/* -----------手机适配----------- */
@media screen and (min-width:1471px) {
.container{ width:1470px; }
}

@media screen and (max-width:768px) {
.header{height:auto;}
.head-top .navbar-header .navbar-brand{float:none; padding:30px 20px; }
.header .navbar{background:#901d1c; }
}

.label {
      cursor: pointer;
    }

    .progress {
      display: none;
      margin-bottom: 1rem;
    }

    .alert {
      display: none;
    }

    .img-container img {
      max-width: 100%;
    }