{%extends 'base.html'%}

{%block title%}
评论守则
{%endblock%}

{%load staticfiles%}
{%block header_extends%}
<link rel="stylesheet" href="{%static 'blog/home.css'%}">
<link rel="stylesheet" href="/static/bootstrap/css/carousel.css">
{%endblock%}

{%block content%}
<div class="container">
    <div>
        <h1 style="text-align:center;">评论守则</h1>
    </div>
    <div>
        <p>
            本博客的目的是说明美国商务部每天为实现其对美国人民的承诺所做的工作。该博客及其评论功能还旨在提高商务部的公开性，透明度和公民参与度 - 这是我们的开放政府计划的主要目标。
        </p>
        <p>
            我们鼓励评论。您的想法和关注点将发挥关键作用，帮助我们更好地解释我们的行为，改善我们的客户服务，并更好地响应公众的需求。
        </p>
        <p>
            我们愿意展示您的评论，但我们希望对话遵循文明礼貌的惯例。因此，我们不会展示如下的评论：
        </p>
        <p>
            包含低俗语言，任何形式的人身攻击或针对受保护类别的攻击性术语 推广服务或产品（但是可接受与博客文章或评论相关的非商业链接） 偏题 诽谤 推广商业网站或服务
        </p>
        <p>
            我们不会编辑评论以删除令人反感的内容，因此请确保您的评论不包含上述任何内容。
        </p>
        <p>
            要求记者向我们的“ 媒体联系人”页面上列出的相应人员发送问题，并且不要在此处提交问题作为评论。记者的问题将被删除。
        </p>
        <p>
           我们认识到互联网是全天候的媒体，欢迎您随时提出意见。但是，鉴于需要管理联邦资源，评论和发布评论通常只会在周一至周五的正常工作时间内进行。如果您在下班后或周末提交评论，我们会在下一个工作日尽早阅读并发布评论。
        </p>
        <p>
            为保护您自己的隐私和他人的隐私，请不要在评论正文中包含电话号码或电子邮件地址。如果包括在内，它们将在发布之前删除。
        </p>
        <p>
            感谢您抽出宝贵时间阅读此评论政策。
        </p>
        <p>
            如果您对评论政策或我们如何应用该评论政策有任何疑问，请随时通过chingshektang@gmail.com与我们联系
        </p>
        <p>
            <a href="https://www.commerce.gov/about/policies/comments">原文链接</a>
        </p>
        <p style="float:right;">
            ——某不知名人士
        </p>

    </div>
</div>
{%endblock%}